/* Apply a common style to the body */
body {
    background-color: #333;
    /* Dark background color */
    color: #fff;
    /* Text color */
    font-family: Arial, sans-serif;
    text-align: center;
    /* Center align text */
}

/* Style the h1 element (Page title) */
h1 {
    margin-top: 20px;
}

/* Style the new layout */
.input-button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-row {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    /* Add margin for spacing between input rows */
}

.tableContainer {
    max-width: 746px;
    /* Set a maximum width for the container */
    margin: 0 auto;
}

/* Style labels, input fields, and buttons inside the input-row */
label {
    color: #fff;
    /* Text color for labels */
}

/* Style the "Add," "Search," and "Show All" buttons */
button {
    background-color: #007bff;
    /* Button background color */
    color: #fff;
    /* Button text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    /* Add margin for spacing between buttons */
    width: 100px;
    /* Fixed width for all buttons */
    height: 40px;
    /* Fixed height for all buttons */
}

/* Style the table for displaying existing contacts */
table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
}

/* Style the table, table headers, and table cells */
table,
th,
td {
    border: 1px solid #444;
    /* Table border color */
}

/* Style table headers */
th {
    background-color: #222;
    /* Table header background color */
    color: #fff;
    /* Text color for table headers */
}

/* Style odd and even rows in the table */
tbody tr:nth-child(odd) {
    background-color: #444;
    /* Table row background color (odd rows) */
}

tbody tr:nth-child(even) {
    background-color: #333;
    /* Table row background color (even rows) */
}